services:
  db:
    image: postgres:18-alpine
    container_name: easybudget_db
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  backend:
    build: 
      context: ./EasyBudget.Api
      dockerfile: Dockerfile
    develop:
      watch:
        - action: rebuild
          path: ./EasyBudget.Api
    container_name: easy-budget-backend
    env_file:
      - .env
    environment:
      - DATABASE_HOST=db
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - PROTECTOR_KEY=${PROTECTOR_KEY}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - TELLER_BASE_URL=${TELLER_BASE_URL}
      - REDIS_HOST=redis
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5050:8080"
    volumes:
      - dataprotection_keys:/root/.aspnet/DataProtection-Keys
    depends_on:
      - db
      - redis

  frontend:
    build: 
      context: ./easy-budget-web
      dockerfile: Dockerfile.dev
    develop:
      watch:
        - action: sync
          path: ./easy-budget-web
          target: /app
          ignore:
            - node_modules/
            - .next/
        - action: rebuild
          path: ./easy-budget-web/package.json
    container_name: easy-budget-frontend
    env_file:
      - ./easy-budget-web/.env
    ports:
      - "3000:3000"
    environment:
      - APP_BASE_URL=${APP_BASE_URL}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_CLIENT_ID=${AUTH0_CLIENT_ID}
      - AUTH0_CLIENT_SECRET=${AUTH0_CLIENT_SECRET}
      - AUTH0_SECRET=${AUTH0_SECRET}
      - API_BASE_URL=http://backend:8080
      - WATCHPACK_POLLING=true

  redis:
    image: redis:8.4-alpine
    container_name: easybudget_redis
    ports:
      - "6379:6379"
volumes:
  postgres_data:
  dataprotection_keys: